/* =============
    Projects
============= */
#projects-left {

  padding: 16px;

  h1 {
    padding-bottom: 24px;
  }
  h2 {
    padding: 8px 0;
  }

  h4 {
    padding: 8px 0;
    margin-left: 16px;
  }


  p {
    padding-bottom: 8px;
  }

  ul {
    li{
      margin-left: 40px;
      padding-bottom: 8px;
      list-style: none;


    }
  }
  a:link, a:visited {
    color: var(--green);
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
      color: var(--darkgreen);
  }

}
