/* =============
    Resume
============= */

#resume-left {

  padding: 16px;

  h1 {
    padding-bottom: 24px;
  }

  h2 {
    padding: 8px 0;
    text-align: center;
  }

  p {
    padding-bottom: 16px;
  }

  ul {
    li{
      margin-left: 32px;
    }
  }

  #top-para {
    text-align: center;
  }

  article{
    padding-bottom: 24px;
  }
  #resume-top {
    display: flex;
  }

  a:link, a:visited {
    color: var(--green);
    text-decoration: none;
    display: inline-block;
  }
  a:hover, a:active {
      color: var(--darkgreen);
  }

}
