/* =============
    Footer
============= */

footer{
  p {
    padding-bottom: 8px;
  }

  @include md {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas:
    "fl fr"
    "fb fb";
    gap: 16px;

  }

  #footer-left {
    background-color: var(--green);
    @include md {
      grid-area: fl;
    }

  }

  #footer-right {
    background-color: var(--green);
    @include md {
      grid-area: fr;
    }

  }

  #footer-bottom {
    background-color: var(--darkgreen);
    @include md {
      grid-area: fb;
    }
    padding: 16px 0;
  }
}
