/* =============
    Footer
============= */

footer{
  background-color: var(--darkgreen);

  @include md {
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-areas:
    "fl fr"
    "fb fb";
    gap: 16px;

  }

  #footer-left {
    @include md {
      grid-area: fl;
    }

  }

  #footer-right {
    @include md {
      grid-area: fr;
    }

  }

  #footer-bottom {
    @include md {
      grid-area: fb;
    }

  }
}
