/* =============
    Base
============= */

body {
  background-color: var(--gray);
}

.content-grid {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". content .";

  @include xl {
    grid-template-columns: auto 1200px auto;
  }

  .content-grid-item {
    grid-area: content;
    background-color: var(--white);

  }
}

aside {
  ul {
    li {
      list-style: none;
    }
  }
}

#main-content-grid{
  @include lg {
    display: grid;
    grid-template-columns: 65% auto;
    gap: 16px;
  }

  @include xl {
    grid-template-columns: 70% auto;
  }

  @include xxl {
    grid-template-columns: 75% auto;
  }

}

#main-content-right{
  background-color: var(--cream);
  text-align: center;

  #profile-pic{
    margin-left: auto;
    margin-right: auto;
    background-image: url("../img/profile.jpeg");
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  padding: 16px 16px;
  p {
    padding-bottom: 8px;
  }

  //img{
    //width: 150px;
  //}

  h2 {
    padding: 8px 0;
  }
}

a:link, a:visited {
  text-decoration: none;
}
