/* =============
    Base
============= */

body {
  background-color: var(--gray);
}

.content-grid {
  display: grid;
  grid-template-columns: 16px auto 16px;
  grid-template-areas: ". content .";

  .content-grid-item {
    grid-area: content;
    background-color: var(--white);

  }
}

#main-content-right{
  background-color: var(--cream);

  img{
    width: 100%;
  }
}
